<div class="nav-bar">
  <%= form_tag '/get_stops' do %>
  <%= text_field_tag :q, nil, placeholder:"Search by Bus Name", class:"form-input" %>
  <%= submit_tag "Submit", class:"submit" %>
  <% end %>
</div><!-- search-bar -->



<% if @fave_bus_routes.count > 0 %>
  <div class="center-content">
  <h1>Favorite Bus Routes </h1>
  </div>
  <% @fave_bus_routes.each do |next_buses_on_route| %>
  <% if next_buses_on_route[:predictions].count > 0 %>
    <div class="fave_bus">
      <%= link_to 'X', fave_bus_path(id: next_buses_on_route[:id]), method: :delete, data: {confirm: "Are you sure?"}, class:"delete-fave" %>

      <div class="route-id"><%= next_buses_on_route[:predictions].first[:route_id] %> </div>
      Bus Stop: <%= next_buses_on_route[:predictions].first[:stop_name]  %> <br>
      Direction: <%= next_buses_on_route[:predictions].first[:direction_name]  %> <br>
      <% next_buses_on_route[:predictions].each do |next_bus| %>
      <h3>Minutes Away: <%= next_bus[:minutes_away] %></h3>
      <% end %>
      <%#= link_to "X", method: :destroy, class:"delete-fave" %>
      <%#= button_to "X", "/delete_favorite", params:{route_id:next_buses_on_route.first[:route_id], stop_id:next_buses_on_route.first[:stop_id]}, class:"delete-fave" %>
    </div>
    <% end %>
  <% end %>
<% else %>
  <div class="center-content">
  <h1>No Favorite Bus Routes </h1>
  </div>
<% end %>
