<div class="nav-bar">
  <%= form_tag '/get_stops' do %>
  <%= text_field_tag :q, nil, placeholder:"Search by Bus Name", class:"form-input" %>
  <%= submit_tag "Submit", class:"submit" %>
  <% end %>
</div><!-- search-bar -->



<% if @fave_bus_routes.count > 0 %>
  <div class="center-content">
  <h1>Favorite Bus Routes </h1>
  </div>
  <% @fave_bus_routes.each do |next_buses_on_route| %>
  <% if next_buses_on_route.count > 0 %>
    <div class="fave_bus">
      Bus: <%= next_buses_on_route.first[:route_id] %> <br>
      Bus Stop: <%= next_buses_on_route.first[:stop_name]  %> <br>
      Direction: <%= next_buses_on_route.first[:direction_name]  %> <br>
      <% next_buses_on_route.each do |next_bus| %>
      <h3>Minutes Away: <%= next_bus[:minutes_away] %></h3>
      <% end %>
      <%= button_to "Remove from Favorites", "/delete_favorite", params:{route_id:next_buses_on_route.first[:route_id], stop_id:next_buses_on_route.first[:stop_id]} %>
    </div>
    <% end %>
  <% end %>
<% else %>
  <div class="center-content">
  <h1>No Favorite Bus Routes </h1>
  </div>
<% end %>
